/* src/App.css */
html,
body,
#root {
  height: 100%;
  margin: 0; /* Elimina márgenes para evitar espacio adicional */
}

.App {
  height: 100%; /* Esto asegura que el contenedor App ocupe toda la altura */
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.ant-layout-header {
  background: #001529;
  color: white;
}

.ant-layout-sider-trigger {
  background-color: #001529;
}
